
@{
    ViewData["Title"] = "Index";
}

    <div class="text-center">
        <h1>Reception</h1>

        <h2>Please select a page</h2>
        <a class="h3" style="margin-right:30px" asp-area="" asp-controller="Reception" asp-action="Get">Reception Get</a>
        <a class="h3" asp-area="" asp-controller="Reception" asp-action="Set">Reception Set</a>
    </div>

