@model ReceptionViewModel
@{
    ViewData["Title"] = "Reception Page";
}



<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Include Bootstrap Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

    <script src="~/js/Reception.js"></script>
    <link href="@Url.Content("~/css/reception.css")" rel="stylesheet" type="text/css" />
</head>


<body>
    <h1>Reception Set Page</h1>

    <div class="content">

        <form method="post" asp-controller="Reception" asp-action="Edit">
            <div class="date_bar">
                <label for="date">Indtast dato</label>
                <input value="@Model.Date.ToString("yyyy-MM-dd")" type="date" name="date" />
            </div>

            <div class="input">

                <div class="room_bar">
                    <label for="roomnumber">Indtast værelsesnummer</label>
                    <input value="1" type="number" required name="RoomNumber" min="1" />
                </div>

                <div class="adults_bar">
                    <label for="adultsbreakfast">Indtast antal voksne der har bestilt morgenmad</label>
                    <input value="0" type="number" required name="AdultsWantBreakfast" />
                </div>

                <div class="kids_bar">
                    <label for="kidsbreakfast">Indtast antal børn der har bestilt morgenmad</label>
                    <input value="0" type="number" required name="ChildrenWantBreakfast" />
                </div>

                <div class="submit">
                    <input type="submit" value="Send" id="submit" /> <input type="reset" />
                </div>

            </div>


        </form>


    </div>


</body>





