@model KitchenViewModel
@{
    ViewData["Title"] = "Kitchen Page";
}
    <link href="@Url.Content("~/css/kitchen.css")" rel="stylesheet" type="text/css" />
   


<body>
    <h1>Kitchen Page</h1>
    <form method="get" asp-controller="Kitchen" asp-action="Submit">
        <h3> Calendar</h3>
        <label for="day">Vælg dato</label>
        <div class="input-group mb-3">
            <input value="sds" type="date" name="date" class="form-control" />
            <input type="submit" value="submit" class="btn btn-outline-secondary" />
        </div>
        <div class="output">
            


        </div>
    </form>
</body>
