@model RestaurantViewModel

@{
    ViewData["Title"] = "Restaurant Page";
}
<link href="@Url.Content("~/css/restaurant.css")" rel="stylesheet" type="text/css" />


<div>
    <form method="post" asp-controller="Restaurant" asp-action="PostSubmit">
        <div asp-validation-summary="ModelOnly" class="text-danger" />
        <a>Check in guests for breakfast<br /></a>

        <div class="forms-group">
            <label asp-for="roomNumber">Room number:</label>
            <input asp-for="roomNumber" min="1" max="50" value="1" class="formInput" />
            <span asp-validation-for="roomNumber" class="text-danger"></span>
        </div>

        <div class="forms-group">
            <label asp-for="adultsCount">Parents:</label>
            <input asp-for="adultsCount" min="1" max="4" value="0" class="formInput" />
            <span asp-validation-for="adultsCount" class="text-danger"></span>
        </div>

        <div class="forms-group">
            <label asp-for="childrenCount">Children:</label>
            <input asp-for="childrenCount" min="0" max="4" value="0" class="formInput" />
            <span asp-validation-for="childrenCount" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Send" id="mySubmit" class="button" />
        </div>

        <a>Date is automatically sent with the check in as today's date. (@DateTime.Today.ToString("dd/mm/yyyy"))<br/></a>
        <a>When checking in a room occupants several times, it increments the already excisting numbers in the database</a>
    </form>
</div>