.content {
    display: grid;
    grid-template:"input output";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}


.input {
    grid-area: input;

    display: grid;
    grid-template:
        "Datepicker"
        "Room"
        "Adults"
        "Kids"
        "submit";
    grid-gap: 10px;

    border:dashed;
    padding: 30px;
    
}

.date_bar {
    grid-area: Datepicker;
}

.input input {
    float: right;
    width: 60px;
}

.date_bar input {
    width: 240px;
}

.room_bar {
    grid-area: Room;
}

.kids_bar {
    grid-area: Kids;
}

.adults_bar {
    grid-area: Adults;
}

.submit {
    grid-area: submit;
    
}

.output {
    grid-area: output;
    border: dashed;
    padding: 30px;
}


.single_room :hover {
    background-color: aqua;
}

.single_room {
    background-color: snow;
    margin-bottom: 10px;
}


.single_room .number{
    font-size: 28px;
}
