
.item-a {
    grid-area: guide;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.item-b {
    grid-area: parent;
    background-color: blue;
}

.item-c {
    grid-area: countP;
    background-color: green;
}

.item-d {
    grid-area: child;
    background-color: pink;
}

.item-e {
    grid-area: countC;
}

.item-f {
    grid-area: send;
}

.item-g {
    grid-area: room;
}

.item-h {
    grid-area: number;
}

.container {
    display: grid;
    grid-row-gap: 10px;
    grid-template:
        "guide guide guide"
        "room . number"
        "parent . countP"
        "child . countC"
        ". send .";
}